In [176]:
# Import required packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [18]:
# Load ratings and movie genres files

cols1 = ['userId', 'movieId', 'rating']
cols2 = [ 'movieId', 'title', 'genres']

ratings = pd.read_csv(r'C:/Users/Korisnik/ml-latest-small/ratings.csv', usecols = cols1)

movietitles = pd.read_csv(r'C:/Users/Korisnik/ml-latest-small/movies.csv', low_memory = False, usecols = cols2)

In [3]:
movietitles.genres

0       Adventure|Animation|Children|Comedy|Fantasy
1                        Adventure|Children|Fantasy
2                                    Comedy|Romance
3                              Comedy|Drama|Romance
4                                            Comedy
                           ...
9737                Action|Animation|Comedy|Fantasy
9738                       Animation|Comedy|Fantasy
9739                                          Drama
9740                               Action|Animation
9741                                         Comedy
Name: genres, Length: 9742, dtype: object

In [4]:
# little file containg all genres used in movietitles

genre = pd.read_csv(r'C:/Users/Korisnik/ml-100k/u.genre', sep = '|')

In [5]:
genre

             genre
unknown          0
Action           1
Adventure        2
Animation        3
Children's       4
Comedy           5
Crime            6
Documentary      7
Drama            8
Fantasy          9
Film-Noir       10
Horror          11
Musical         12
Mystery         13
Romance         14
Sci-Fi          15
Thriller        16
War             17
Western         18

In [6]:
genre = genre.T

In [7]:
for e in genre.index[0]:
    e = 0

In [114]:
genre

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
genre,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18

In [9]:
# Drop useless coulmn

genre = genre.drop(columns = ['unknown'])
genre

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
genre,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18

In [10]:
movietitles = pd.concat([movietitles, genre], sort = False)

In [11]:
movietitles

,movieId,title,genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Jumanji (1995),Adventure|Children|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Father of the Bride Part II (1995),Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9738,193583.0,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9739,193585.0,Flint (2017),Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,193587.0,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,193609.0,Andrew Dice Clay: Dice Rules (1991),Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
genre,NaN,NaN,NaN,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0

In [12]:
movietitles = movietitles.drop('genre', axis = 0)

In [13]:
for index, row in movietitles.iterrows():
    row['genres'] = row['genres'].split(sep = '|')

movietitles

,movieId,title,genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Jumanji (1995),Adventure|Children|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Father of the Bride Part II (1995),Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581.0,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9738,193583.0,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9739,193585.0,Flint (2017),Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,193587.0,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,193609.0,Andrew Dice Clay: Dice Rules (1991),Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
gen = ['Action','Adventure','Animation',"Children's",'Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']

In [15]:
# Make 0-1 vector from list of words

def vectorize(l):
    vec = np.zeros(18)
    for i in range(18):
        vec[i] = gen[i] in l
    return vec

In [16]:
# Example of the above

st = 'Adventure|Animation|Children|Comedy|Fantasy'
vectorize(st.split(sep = '|'))

array([0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0.])

In [17]:
# Fill the genres coulmns

for index, row in movietitles.iterrows():
    movietitles.at[index,'Action':'Western'] = vectorize(row['genres'].split(sep = '|'))
movietitles

,movieId,title,genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,Jumanji (1995),Adventure|Children|Fantasy,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5.0,Father of the Bride Part II (1995),Comedy,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581.0,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9738,193583.0,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9739,193585.0,Flint (2017),Drama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9740,193587.0,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9741,193609.0,Andrew Dice Clay: Dice Rules (1991),Comedy,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [130]:
# Merge ratings DF and titles DF 

ratings = pd.merge(ratings, movietitles, on = 'movieId')
ratings

,userId,movieId,rating,title,genres,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,610,160341,2.5,Bloodmoon (1997),Action|Thriller,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
100832,610,160527,4.5,Sympathy for the Underdog (1971),Action|Crime|Drama,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100833,610,160836,3.0,Hazard (2005),Action|Drama|Thriller,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
100834,610,163937,3.5,Blair Witch (2016),Horror|Thriller,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
100835,610,163981,3.5,31 (2016),Horror,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [199]:
# Pretty self explanatory

def predict_for_user(u_id):
    u = ratings.loc[ratings['userId'] == u_id]
    
    u_train, u_test = train_test_split(u, test_size = 0.2, random_state = 42)
    
    y_hat = np.array(u_train.rating)
    #print('y_hat: ', y_hat.shape)
    
    d_l = np.matrix(u_train.loc[:, 'Action':'Western'])
    #print('d_hat ', d_l.shape)
    
    a = np.dot(d_l.T,d_l)
    #print('a ', a.shape)
    
    b = a + np.eye(d_l.shape[1])
    #print('b ', b.shape)
    
    c = np.linalg.inv(b)
    #print('c ', c.shape)
    
    d = np.dot(c,d_l.T)
    #print('d ', d.shape)
    
    W = np.dot(d,y_hat)
    #print('W', W.shape)
    
    y_hat_test = np.array(u_train.rating)
    d_l_test = np.matrix(u_train.loc[:,'Action':'Western'])
    y_pred = np.array(np.dot(d_l_test,W.T))
    y_predd = [min(x[0], 5) for x in y_pred]
    
    rms = np.sqrt(mean_squared_error(y_hat_test,y_predd))
    return rms

In [200]:
predict_for_user(10)

1.3792795969983962

In [201]:
predict_for_user(1)

1.3592397400289256

In [203]:
# Calculate RMSE for each user

rmses = []
for u_id in ratings.userId.unique():
    print(predict_for_user(u_id))
    rmses.append(predict_for_user(u_id))

1.3592397400289256
1.161303433343934
1.5886909974062493
1.3649185390848646
1.158704838507537
1.263987426104476
1.1415003701282573
1.2244352019690066
1.3912006610488086
1.1322411996646027
1.2996699524634387
1.425088940407554
1.3980659100814674
1.567589491064245
1.30589858358058
1.3881971504552002
1.0177700315871476
1.1668222858657964
0.7796589467487549
1.3182955860471244
1.4041647240401043
1.3034387823046643
1.3287247130037885
1.304091331436836
0.9305536267871352
1.3591035152959139
1.287004369736466
1.371409249140478
1.1459289119365508
1.1369404971652528
1.3561571936039907
1.065434446957387
1.2256279908984202
1.1891895188379724
1.564537592912167
1.6381931061594237
1.3910326941778584
1.18089089161593
1.5262173694460737
1.26885094429285
1.2763312360705499
1.0452843545055241
1.2914544842016529
1.0869746798519142
0.9944409809451161
1.521197322100189
1.4065707536244496
1.331418135264513
1.1495169412074135
1.2682137428141074
0.7909506020251441
1.2376592428644724
1.2872259190024364
1.1497691076092384
1.3474780079978446
1.3089045931338812
1.6186787893152688
1.018978004009291
1.1738843348211043
1.446349173208019
1.3378786413775372
1.2319362342722853
1.3950654428092044
1.267508745807968
1.0725372420300443
1.3574554964573557
1.3522737676953709
1.1584682558136437
1.5403635973172511
1.2063787512729562
1.282878326719709
1.295420267551274
1.188682866473305
0.8743464824758534
1.2747303895166207
0.6889320289822294
1.4974081609804606
1.1427072679872898
1.3170992414670317
1.3933470158957273
1.1384037946065813
1.3413016723923474
1.1864192108381533
1.2595496513193152
1.1292875730742515
1.3132977290883403
1.3355529851000059
1.4699747028184142
1.2811063330769827
1.277178084093303
1.0778573459453755
1.244445856605888
1.253663048017968
1.303591432822925
1.699821513281309
0.8675118370694671
1.108601203566794
1.2800589000644034
1.2559367052155874
1.5447555355331217
1.0164724786406083
1.0029102039055544
1.2553696048183425
1.2454436888116163
1.1501012343468062
1.0959430857522892
1.3090789932396558
1.2912230909675164
1.066138723996095
1.3101091824408453
0.879368486653842
1.2235354458562067
1.339666696811667
1.2809147617447094
1.2835807814584275
1.2696611195494705
1.1425196312180654
1.666879829375946
1.471860934063043
1.1621175583288579
0.97468458980504
1.209297986958403
1.2909201830257018
1.268413514840963
1.1435587011832047
1.0264035316793159
0.9615160950996428
1.4649338866639654
1.2790003920723212
1.0126877583820475
0.8673648128611353
1.3976864085971448
1.4129747631563123
1.457216402473739
1.1993680114539276
1.4147404270409727
1.3457255418957632
1.301117064151646
1.344298874294745
1.187713931645037
1.591379570816501
0.9274932996049841
1.2007580414571286
0.7700464674720681
1.307818130490405
1.3571128302142754
1.3500362074118941
1.1741700488929279
1.2596978423568022
1.2929681914686728
1.368508558755002
1.3330686072090252
1.3176785431141043
0.9506650016738115
1.271084932596625
1.1545395642667844
1.4217414206146781
1.1858533785298424
1.265225618610967
1.4717288192336115
1.1351966601771797
1.4816697464993982
0.8862255065224739
0.9507767020368189
1.2529102394532048
1.298859516661729
1.360183143187029
1.4599665359470848
1.3424736037456095
1.3165537680642454
1.4689297297316275
1.2799252595529327
1.2104782806756489
1.309458797321291
1.1048730072020212
1.1300528878948557
1.3611124845360592
1.4964426683053371
1.4605449152639605
1.2028875503826315
1.2294914996079565
1.3214157496230063
1.0016856109713579
1.1754458012961817
1.243951149370399
1.1960051889862948
1.2979075094667656
0.871956562265244
1.4955722354689729
1.072865648339012
1.2064179489195836
1.3128069890784388
1.2948413162848902
1.307986386120889
1.1679781140752639
1.5391463262010499
1.4922873757037334
1.106043774390627
1.2941997642509544
1.3993660708131153
1.2799891380341724
1.2287052687191797
1.1888474574829657
1.6127337427204331
1.1164784604996707
1.3611427733096375
1.4843340771240814
1.5627690888674481
1.2624475414502843
1.2473444757281973
1.2766428165289756
1.3476307342190668
1.323793514927799
0.9980595316999089
1.3985372398073874
1.295095374223461
1.4823805492651507
1.6258756455640124
1.4328290791073623
1.1728712516539863
1.1832385038204647
1.51105379709334
1.1409976159363158
1.067538381675138
0.9169627646199833
1.2574742342061151
1.5695107964900727
1.2307137313766205
0.9975200610013633
1.1755495477702131
1.4326282216564585
1.4315342006000706
1.2969179872482355
1.4585794473823004
1.3369900071735086
1.3982681504342482
1.1104241812165996
0.9869686930218845
1.1558385012353742
1.410800967006193
1.5046921328554248
1.2323534010072246
1.4266712596813622
1.1694697271124461
1.1775889021274744
1.4797825135984886
1.3494618540595023
1.6400517000142754
1.3402192203055447
1.2410257464736414
1.4197310193464876
1.3551217121288823
1.623284548243694
1.4303489838018033
1.2731344776874591
1.3206916392671388
0.9997869296562641
1.136746679381221
1.3874431516179897
1.1850066768773857
1.4365436327339431
0.8373094144962917
1.3356039512519944
1.3136395251489354
0.8093151404062069
1.325991765524823
1.176354009346926
1.2276727171472248
1.2801654918177334
1.3370927634616965
1.750885203211781
1.4223116044325392
0.9238120400220486
1.1994626426863675
1.2168894255536864
1.0187162338317985
1.4377542352918145
1.4476670864363619
1.1623718176299789
1.0713531813863055
1.0938673024339898
1.5041004287869693
1.138598703779418
1.0587224210491908
1.1726383595733374
1.431500827644658
1.2412879272047808
1.2280267472773754
1.3247595098153908
1.124131378103454
1.1741296576203555
1.0980769643433321
1.4420315105249797
1.2854577122773014
1.2491666567407291
1.0330123201821453
1.3741024129686503
0.7647347955713969
1.4236366655359585
1.432111107702251
1.3000636099142207
1.038248108129112
1.3416313535105058
1.0720480362590545
1.125425581284998
1.1541413151874989
1.4522284008316306
1.08902753342392
1.588147839772914
1.4209889182951587
1.240934824691158
1.2776306940072701
1.1845787702145523
1.103440045635602
1.3826933827363708
1.152290384261049
0.9944036688057006
1.3126939894631255
1.1595633653068338
1.3063400693114622
1.110474544278271
1.0500664021162425
1.1518419651868455
1.2854410690811227
1.3724183633631153
1.1763189056970196
1.2877517524313309
1.530184912954643
1.2191854772272288
0.983599847609264
1.2773548385314182
1.3721732567206621
1.284749987242201
1.3865445053295002
1.5016557418169363
1.484399911890355
0.9912057490322614
1.127466269472927
1.270394562925417
1.1545986304478655
1.4707132707115325
1.3538131539945824
1.206292042650037
1.462398463419691
1.1006798153255524
0.9576208201172389
1.2347063697560958
0.7954481702164196
1.213017879451405
1.454466521242138
1.0696192438172554
1.3806613571967172
0.9192284966866485
1.456592392002592
0.9977538112054862
1.0524488624898996
1.3832903406280495
1.2786335325128377
0.8986219101257398
1.0166922444624529
1.2429027640563668
1.3463393677039819
1.234816609126399
1.3464096138862702
1.4696532002737757
1.3063609446911384
1.3404944051860277
1.2691532649265713
1.051461707404617
1.2834622639278541
1.3378406542619052
1.2286158873604804
1.454697731557383
1.2318570447471326
1.2773061284666543
1.166932141832329
0.9612067248559688
1.8139411126503695
1.1739943930499956
1.2682604834761102
1.0494769410473634
1.1305986457793613
1.3728115726427146
1.387268036626873
1.4219880060822403
1.5235569086981662
1.2125204212129141
1.2668329493696502
1.1490792369406082
1.0948113405279196
1.173973241372969
0.9450737405849027
1.4014313474505116
1.1550621701520256
1.1470201344157809
1.2446941409404562
1.1991252130015977
1.5511333431721075
1.2184871871801328
1.2997843541692715
1.27238518487634
0.8426835413488535
1.2195617267991108
1.3799679695474942
1.3092137330962128
1.349197561643202
1.2624329036475024
1.0765969474613934
1.1706377411088362
1.06870456827209
1.1360991803970022
1.308360280288822
0.9513507841394209
0.9913296721594176
1.4104180322587252
1.1887237681266036
1.1556755767954963
1.4457448347887305
1.0875100170586491
1.3440155543924404
1.2874753580035923
1.1655685876413155
0.8912982798982582
1.33949998945402
1.2378473937343728
1.6386174507428894
0.9941525045435359
1.554179004379814
1.1914554727223254
0.9659405920135258
1.3306833259708188
1.1090325119410418
1.1733336387886848
1.2623760487688622
1.3694292647018667
0.9687384661963966
1.0499674869480013
1.4312216580504997
1.2900122458910286
1.1120324413669973
1.1985610520107957
1.1086634364258823
1.2204983162746859
1.1578245907571456
1.3123430245932872
1.0062233320778247
0.9403293280701842
1.25913421336806

0.9720088514202756
1.6605210552906353
1.6169967293950867
1.2398042243857195
1.0218143951976655
1.2364287489038268
1.1442091932975393
1.3097701959263701
1.1071971340548528
1.0064588118404347
1.3320261256081163
1.5090303729343497
1.431943290832456
1.1374411605502812
1.1104687792636847
1.113821897621647
1.42779110321996
1.317866899425881
1.5027506072827248
0.972399440433439
1.3576237535574398
1.2734472161117598
1.1107596516648899
1.122502367344015
1.1879638986575725
1.381152104348423
0.7247987509819044
0.9584830192950442
0.9844200044514283
1.0176347212988919
0.8934102480304152
1.005464723192926
1.1700209886069224
1.3211035409614995
1.4158899965361376
0.7679436840395617
1.335498646007602
1.177339409877224
0.7630351798174526
1.3442017672228976
1.3070256235992581
0.7649616526100279
0.9558616348768076
1.2468171168621922
1.0643288637740114
0.9805321101237556
1.2447071094124964
1.4735355396870689
1.5263514581980597
1.2977286542110071
1.0365360483322188
1.3792795969983962
1.017466640016499
1.0935184560176059
1.2978884841324652
1.1986102973138009
1.4891317319151136
1.3120406495886263
1.325627200432991
1.1520966167757174
1.3191751985412963
0.9482066636590568
1.325644458281772
1.2156386885088817
1.3175379468345028
1.0049408187201785
1.3593888901061282
1.3220345494691894
1.0477786933812658
0.9782421814914181
1.4576986006905372
0.7597357186945402
1.1235836172095839
1.4090179037322719
1.066566917037984
1.2382586299194993
1.0829017421483356
1.4377880364174358
1.3905446604130078
1.1456401106865943
1.0960340180027817
1.255342101112791
0.8803413968117932
1.3381626090608882
1.370202685472678
0.8779175554205417
0.4499391620672737
1.1611986351418744
1.0507706346368726
1.2718585429608726
1.1379470662288598
1.261396552252178
1.2773107238204584
1.0760227765958186
1.0813876004782177
1.0187481605806892
1.1155776536240316
0.7928623699324707
0.9179248975208334
1.5039732251975415
0.8276703943490308
1.2234530538263033
1.035381202777737
1.1335445560085862
1.1872584471823349
1.3842551893400203
1.192490686635949
1.308953646669137
1.1122185875299795
0.8075008294868425
1.3801534476826594
1.3235597907137062
1.164147334713851
1.0055604839380152
0.9926631774064874
0.8197594444436567
0.9853270696202003
0.980956958033121
1.308615695682627
1.649720210929592
1.1072249310609195
1.0717562528718136
0.9165981752451062
1.4197576682109363
0.8662655226732217
1.289478362488853
1.434832519446364
1.2198677573704906
1.295910658087906
0.29869790267442947
1.0087691103598704
1.0517872343904868
1.0206964913395393
1.077907864359804
0.9619512541952223
1.1435546778586347
0.8797747653062788
1.5006755016560132
1.0188506279740706
1.1326423701681803
1.0880026446005713
1.2209945250061927
0.8131031945449372
1.3009281631295428
0.9880116940947439
0.9066350174683216
1.1383938759573227
0.9844037778304198
1.3821745126788265
1.5007977769523557
1.0276124934480368
1.0994793314047862
1.1116540092061105
1.258675979974636
1.5190639663915086
1.1217368640968957
1.0974569955425562
1.0928402035679914
1.0296419570134416
0.6961613602825838
1.4273113631326615
0.9002525356643398

In [204]:
nrmses = np.array(rmses)

In [205]:
print(np.mean(nrmses))

1.224959323013067